# Node modules
node_modules/

.config/

# Logs
logs/
*.log
npm-debug.log*

# Environment variables
.env
.config

# Optional npm cache directory
.npm

# Optional REPL history
.node_repl_history

# dotenv environment variables file
.env.local
.env.development.local
.env.test.local
.env.production.local

# ignore package-lock
package-lock.json
